@charset "UTF-8";
@font-face {
  font-family: "Behrens Antiqua—";
  src: url("../fonts/Behrens-AntiquaC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dihjauti";
  src: url("../fonts/Dihjauti-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dihjauti";
  src: url("../fonts/Dihjauti-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Nova";
  src: url("../fonts/gillsansnova-book.woff2") format("woff2"), url("../fonts/gillsansnova-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Nova";
  src: url("../fonts/gillsansnova-medium.woff2") format("woff2"), url("../fonts/gillsansnova-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Nova";
  src: url("../fonts/gillsansnova-bold.woff2") format("woff2"), url("../fonts/gillsansnova-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Nova";
  src: url("../fonts/gillsansnova-extrabold.woff2") format("woff2"), url("../fonts/gillsansnova-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Nova";
  src: url("../fonts/gillsansnova-heavy.woff2") format("woff2"), url("../fonts/gillsansnova-heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Gill Sans Nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

.auth-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.auth-modal.active {
  opacity: 1;
  pointer-events: all;
}
.auth-modal__body {
  display: block;
  max-width: calc(100dvw - 24px);
  max-height: calc(100dvh - 24px);
  width: 444px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fbfbfb;
}
@media (max-width: 576px) {
  .auth-modal__body {
    padding: 24px;
  }
}
.auth-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  max-height: calc(100dvh - 96px - 32px - 24px);
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #f3f3f3;
}
@media (max-width: 576px) {
  .auth-modal__content {
    gap: 16px;
    max-height: calc(100dvh - 62px - 24px - 24px);
    padding: 16px;
  }
}
.auth-modal__title {
  margin: 0 0 24px;
  font-family: "Dihjauti", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  color: #060606;
  text-align: center;
}
@media (max-width: 576px) {
  .auth-modal__title {
    margin-bottom: 16px;
    font-size: 22px;
  }
}
.auth-modal__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-modal__nav-button {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 8px 24px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Dihjauti", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  color: #2d030b;
  border: none;
  border-bottom: 2px solid rgba(33, 2, 1, 0);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.auth-modal__nav-button:hover {
  border-bottom: 2px solid rgba(33, 2, 1, 0.25);
}
.auth-modal__nav-button.active {
  border-bottom: 2px solid #210201;
}
.auth-modal__main-block {
  display: none;
}
.auth-modal__main-block.active {
  display: block;
}
.auth-modal__form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 0 16px;
}
@media (max-width: 576px) {
  .auth-modal__form-control {
    gap: 8px;
    margin-bottom: 12px;
  }
}
.auth-modal__form-control-label {
  font-family: "Dihjauti", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #2d030b;
}
@media (max-width: 576px) {
  .auth-modal__form-control-label {
    font-size: 14px;
  }
}
.auth-modal__form-control-input {
  display: inline-block;
  padding: 12px 16px;
  font-family: "Dihjauti", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #2d030b;
  border: none;
  border-radius: 5px;
  outline-color: #978181;
  background-color: #fbfbfb;
}
@media (max-width: 576px) {
  .auth-modal__form-control-input {
    font-size: 14px;
  }
}
.auth-modal__form-control-input::-webkit-input-placeholder {
  color: #978181;
}
.auth-modal__form-control-input::-moz-placeholder {
  color: #978181;
}
.auth-modal__form-control-input:-ms-input-placeholder {
  color: #978181;
}
.auth-modal__form-control-input::-ms-input-placeholder {
  color: #978181;
}
.auth-modal__form-control-input::placeholder {
  color: #978181;
}
.auth-modal__form-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 6px;
  margin: 12px 0 0;
}
@media (max-width: 576px) {
  .auth-modal__form-checkbox {
    margin-top: 8px;
  }
}
.auth-modal__form-checkbox::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 12px;
  height: 12px;
  margin: 3px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #978181;
  border-radius: 1px;
  background: url(../assets/check.svg) center/12px no-repeat;
  background-color: rgba(151, 129, 129, 0);
}
@media (max-width: 576px) {
  .auth-modal__form-checkbox::before {
    width: 10px;
    height: 10px;
    margin: 1px 0;
    background-size: 10px;
  }
}
.auth-modal__form-checkbox:has(.auth-modal__form-checkbox-input:checked)::before {
  background-color: #978181;
}
.auth-modal__form-checkbox-label {
  font-family: "Gill Sans Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #978181;
}
@media (max-width: 576px) {
  .auth-modal__form-checkbox-label {
    font-size: 10px;
    line-height: 120%;
  }
}
.auth-modal__form-checkbox-input {
  position: absolute;
  top: 10px;
  left: 6px;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.auth-modal__form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 0;
}
@media (max-width: 576px) {
  .auth-modal__form-submit {
    margin-top: 16px;
  }
}
.auth-modal__form-submit-button {
  display: inline-block;
  width: 100%;
  padding: 14px 24px 12px;
  font-family: "Dihjauti", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fbfbfb;
  border: none;
  border-radius: 4px;
  background-color: #2d030b;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}
.auth-modal__form-submit-button:hover {
  background-color: #370610;
}
.auth-modal__form-submit-button:active {
  background-color: #450813;
}

.disclaimer-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.disclaimer-modal.active {
  opacity: 1;
  pointer-events: all;
}
.disclaimer-modal__body {
  display: block;
  max-width: calc(100dvw - 24px);
  max-height: calc(100dvh - 24px);
  width: 600px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fbfbfb;
}
@media (max-width: 576px) {
  .disclaimer-modal__body {
    padding: 24px;
  }
}
.disclaimer-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  max-height: calc(100dvh - 64px - 24px);
  overflow: auto;
}
@media (max-width: 576px) {
  .disclaimer-modal__content {
    gap: 16px;
    max-height: calc(100dvh - 48px - 24px);
  }
}
.disclaimer-modal__age {
  margin: 0;
  font-family: "Behrens Antiqua—", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #780d00;
}
@media (max-width: 576px) {
  .disclaimer-modal__age {
    font-size: 40px;
  }
}
.disclaimer-modal__title {
  margin: 0;
  font-family: "Gill Sans Nova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #060606;
}
@media (max-width: 576px) {
  .disclaimer-modal__title {
    font-size: 16px;
  }
}
.disclaimer-modal__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.disclaimer-modal__confirm-button {
  display: inline-block;
  padding: 14px 24px 12px;
  font-family: "Dihjauti", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fbfbfb;
  border: none;
  border-radius: 4px;
  background-color: #2d030b;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}
.disclaimer-modal__confirm-button:hover {
  background-color: #370610;
}
.disclaimer-modal__confirm-button:active {
  background-color: #450813;
}