.auth-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.25);
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__body {
    display: block;
    max-width: calc(100dvw - 12px * 2);
    max-height: calc(100dvh - 12px * 2);
    width: 444px;
    padding: 32px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fbfbfb;

    @include mobile {
      padding: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: calc(100dvh - 96px - 32px - 12px * 2);
    padding: 24px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    background-color: #f3f3f3;

    @include mobile {
      gap: 16px;
      max-height: calc(100dvh - 62px - 24px - 12px * 2);
      padding: 16px;
    }
  }

  &__title {
    margin: 0 0 24px;
    font-family: 'Dihjauti', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 115%;
    color: #060606;
    text-align: center;

    @include mobile {
      margin-bottom: 16px;
      font-size: 22px;
    }
  }

  &__nav {
    display: flex;

    &-button {
      display: block;
      flex: 0 0 50%;
      padding: 8px 24px 10px;
      box-sizing: border-box;
      font-family: 'Dihjauti', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 110%;
      color: #2d030b;
      border: none;
      border-bottom: 2px solid rgba($color: #210201, $alpha: 0);
      transition-property: border;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid rgba($color: #210201, $alpha: 0.25);
      }

      &.active {
        border-bottom: 2px solid rgba($color: #210201, $alpha: 1);
      }
    }
  }

  &__main {
    &-block {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__form {
    &-control {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 0 0 16px;

      @include mobile {
        gap: 8px;
        margin-bottom: 12px;
      }

      &-label {
        font-family: 'Dihjauti', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #2d030b;

        @include mobile {
          font-size: 14px;
        }
      }

      &-input {
        display: inline-block;
        padding: 12px 16px;
        font-family: 'Dihjauti', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #2d030b;
        border: none;
        border-radius: 5px;
        outline-color: #978181;
        background-color: #fbfbfb;

        @include mobile {
          font-size: 14px;
        }

        &::placeholder {
          color: #978181;
        }
      }
    }

    &-checkbox {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 6px;
      margin: 12px 0 0;

      @include mobile {
        margin-top: 8px;
      }

      &::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 12px;
        height: 12px;
        margin: 3px 0;
        box-sizing: border-box;
        border: 1px solid #978181;
        border-radius: 1px;
        background: url(../assets/check.svg) center / 12px no-repeat;
        background-color: rgba($color: #978181, $alpha: 0);

        @include mobile {
          width: 10px;
          height: 10px;
          margin: 1px 0;
          background-size: 10px;
        }
      }

      &:has(&-input:checked)::before {
        background-color: rgba($color: #978181, $alpha: 1);
      }

      &-label {
        font-family: 'Gill Sans Nova', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #978181;

        @include mobile {
          font-size: 10px;
          line-height: 120%;
        }
      }

      &-input {
        position: absolute;
        top: 10px;
        left: 6px;
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
        opacity: 0;
      }
    }

    &-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 24px 0 0;

      @include mobile {
        margin-top: 16px;
      }

      &-button {
        display: inline-block;
        width: 100%;
        padding: 14px 24px 12px;
        font-family: 'Dihjauti', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: #fbfbfb;
        border: none;
        border-radius: 4px;
        background-color: #2d030b;
        transition: background-color ease-out 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #370610;
        }

        &:active {
          background-color: #450813;
        }
      }
    }
  }
}
